<!DOCTYPE html>
<html>
    <header>
        <title>Todo List</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
        >
    </header>
  <body class="container is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh;">
      <h2 class="title is-2 is-spaced has-text-centered">Todo List</h2>
      <form>
          <div class="control">
              <textarea
                class="textarea is-medium"
                placeholder="Medium textarea"
              ></textarea>
      </form>
    <div>
    <table class="table" style="width:100%">
      <% tasks.forEach((task,index) => { %>
            <thead>
              <tr>
                <th><abbr title="Task Id">Id</abbr></th>
                <th>Task</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="<%= task.Completed ? 'is-selected' : 'is-warning' %>"><%= task.id %></th>
                <td>
                    <%= task.name %>
                </td>
                <td>
                    <%= task.Completed ? 'Completed' : 'Incompleted' %>
                </td>
                <td>
                    <% const createdAt = task.createdAt %>
                    <%= createdAt.toString().replace("GMT+0100 (GMT+01:00)", "") %>
                </td>
                <td>
                    <button class="button is-danger is-outlined">
                        Delete
                      </button>
                      <button class="button is-success is-outlined">
                          Mark as Completed
                        </button>
                        <button class="button is-warning is-outlined">
                            Mark as incompleted
                          </button>
                </td>
              </tr>
            </tbody>
      <% }) %>
      <tfoot>
        <tr>
          <th><abbr title="Position">__</abbr></th>
          <th>1</th>
          <th>__</th>
          <th>__</th>
          <th>
              <button class="button is-danger is-outlined">
                  Delete All
                </button>
                <button class="button is-success is-outlined">
                    Mark all as Completed
                  </button>
                  <button class="button is-warning is-outlined">
                      Mark all as incompleted
                    </button>
          </th>
        </tr>
      </tfoot>
    </table>
      </div>
  </body>
</html>
