<!DOCTYPE html>
<html>
    <header>
        <title>Todo List</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
        >
    </header>
  <body class="container is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh;">
      <h2 class="title is-2 is-spaced has-text-centered">Todo List</h2>
      <form class="box" style="margin-bottom: 50px;" method="POST" action="/tasks">
          <div class="control is-flex">
              <input
                class="input"
                type="text"
                placeholder="Success input"
                name="name"
              />
              <button type="submit" class="button is-success">ADD</button>
          </div>
      </form>
    <div class="box">
        <table class="table" style="width:100%">
        <thead>
          <tr>
            <th><abbr title="Task Id">Id</abbr></th>
            <th>Task</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Action</th>
          </tr>
        </thead>
      <% tasks.forEach((task,index) => { %>
            <tbody>
              <tr>
                <th><%= task.id %></th>
                <td>
                    <%= task.name %>
                </td>
                <td class="<%= task.completed ? 'has-text-success' : 'has-text-warning' %>">
                    <%= task.completed ? 'Completed' : 'Incompleted' %>
                </td>
                <td>
                    <% const createdAt = task.createdAt %>
                    <%= createdAt.toString().replace("GMT+0100 (GMT+01:00)", "") %>
                </td>
                <td class="is-flex">
                    <form style="margin-right: 10px;" method="POST" action="/tasks/<%= task.id %>?_method=DELETE">
                        <button class="button is-danger is-outlined is-small">
                            Delete
                        </button>
                    </form>
                    <form style="margin-right: 10px;" method="POST" action="/tasks/<%= task.id %>?_method=PATCH">
                        <button class="button is-success is-outlined is-small">
                          Mark as Completed
                        </button>
                    </form>
                    <form method="POST" action="/tasks/unmark/<%= task.id %>?_method=PATCH">
                        <button class="button is-warning is-outlined is-small">
                            Mark as incompleted
                        </button>
                    </form>
                </td>
              </tr>
            </tbody>
      <% }) %>
      <tfoot>
        <tr>
          <th>Total</th>
          <th><%= totalTasks %></th>
          <th><span class="has-text-success"><%= completedTasksTotal %></span> - <span class="has-text-warning"><%= incompleteTasksTotal %></span></th>
          <th>__</th>
          <th class="is-flex">
              <form style="margin-right: 10px;">
                  <button class="button is-danger is-outlined is-small">
                      Delete All
                  </button>
              </form>
          </th>
        </tr>
      </tfoot>
        </table>
    </div>
  </body>
</html>
